.about {
  color: black;
  height: 100vh;
  background-color: bisque;
}

.about__title {
  font-size: 6.5vw;
  text-align: center;
  text-transform: uppercase;
}

.about__info {
  margin-block-start: 4em;
  line-height: 1.6;
}
