.contact {
  position: relative;
  place-content: center;

  background-color: hsl(var(--clr-dark) / 0.2);
  .contact__title {
    color: hsl(var(--clr-dark));
  }
}

.contact__container {
  place-items: center;
}

.contact__form {
  width: 100%;

  @media (min-width: 850px) {
    max-width: 75rem;
  }
}
