.projects {
  background-color: darkgray;
}

.project__info {
  flex-direction: column;
  --gap: 4rem;
}

.project__img {
  width: 100%;
  min-height: 50vh;
  object-fit: cover;
  object-position: left;
}
