.socials {
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  // z-index: 3;
}

.social__icon {
  font-size: 3.5rem;
  text-align: center;
  color: hsl(0 0% 29% / 0.7);
  transition: transform 100ms ease;

  @media (min-width: 768px) {
    font-size: 4.5rem;
  }
}

.social__icon:hover {
  transform: scale(1.4);
}

a:nth-child(1) > svg:hover {
  color: #bdbfc1;
}

a:nth-child(2) > svg:hover {
  color: #1a8cd8;
}

a:nth-child(3) > svg:hover {
  color: #0a66c2;
}
