$size-small: var(--size-4);
$size-normal: --size-6;
$size-large: --size-8;
$size-extra-large: --size-10;

.header {
  box-shadow: 0 0 6px 0 black;
  align-items: center;
  padding-block: 1.5em;

  background-color: hsl(var(--clr-primary) / 0.9);
  backdrop-filter: blur(3px);
  opacity: 0.1;

  position: sticky;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;

  z-index: 1;
}

.header__container {
  align-items: center;
  justify-content: space-between;

  max-width: 230rem;
  width: calc(100% - 3.5em);
  margin-inline: auto;

  .header__logo {
    font-size: var(--size-9);
    font-family: var(--ff-sans-normal);
    font-family: "Parisienne", cursive;
    font-weight: bold;
    flex: 1;

    cursor: pointer;

    @media (min-width: 768px) {
      font-size: var(--size-10);
    }
  }

  .nav {
    display: grid;
    place-content: center;
    align-content: space-evenly;
    grid-gap: 10rem;

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    padding: 4em 0 0 2em;

    background-color: hsl(0 0% 0%);

    .nav__list {
      flex-direction: column;

      list-style-type: none;
      font-family: "Roboto";
      font-size: 3rem;
      font-size: 3rem;

      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5rem;

      @media (min-width: 768px) {
        display: flex;
        gap: 2.5rem;
        font-size: 4.5rem;
      }
    }

    .nav__list > * {
      margin-top: 1em;
      color: white;
      font-weight: bold;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:focus {
        cursor: pointer;
      }
    }
  }

  .header__menu {
    border: 0;
    background: transparent;
    z-index: 1;
  }

  .header__menu-icon {
    font-size: var(--size-9);

    @media (min-width: 768px) {
      font-size: var(--size-10);
    }
  }

  .header__menu-icon--close {
    color: white;
  }
}
