.cto {
  grid-column: 1 / span 12;
  margin-block-start: var(--content-spacer);

  @media (min-width: 768px) {
    grid-column: 8 / -1;
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: initial;
    justify-content: center;
    align-items: center;
  }
}

.cto__text {
  font-size: 2rem;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.cto__btn {
  font-size: 2rem;

  border: 0;
  border-radius: 0.5rem;

  padding: 1.5em 3.5em;
  margin-block-start: var(--content-spacer);

  background-color: hsl(var(--clr-primary));
}

.cto__btn:hover {
  cursor: pointer;
}

.cto__btn-link {
  color: hsl(var(--clr-light));
  text-decoration: none;
}
