.cto {
  justify-items: center;

  @media (min-width: 768px) {
    justify-items: start;
    align-content: start;
  }
}

.cto__btn {
  font-size: 1.8rem;

  border: 0;
  border-radius: 0.5rem;

  padding: 1.5em 2em;
  margin-block-start: var(--content-spacer);

  background-color: hsl(var(--clr-primary));
}

.cto__btn:hover {
  cursor: pointer;
}

.cto__btn-link {
  color: hsl(var(--clr-light));
  text-decoration: none;
}
