.cto {
  justify-items: center;

  @media (min-width: 768px) {
    justify-items: start;
    align-content: start;
  }
}

.cto__btn {
  font-size: 1.6rem;

  border: 0;
  border-radius: 1rem;

  padding: 1.4em 2em;
  margin-block-start: var(--content-spacer);

  border: 2px solid hsl(var(--clr-primary));
  background-color: transparent;

  align-items: center;

  transition: all 250ms ease-in-out;
}

.cto__btn:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-primary));
  color: white;

  .cto__btn-link {
    color: white;
    text-decoration: none;
  }

  .cto__arrow {
    transform: scale(1.3) translateX(10px);
  }
}

.cto__btn-link {
  color: hsl(var(--clr-dark));
  text-decoration: none;
}

.cto__arrow {
  transition: transform 500ms ease;
  font-size: 3rem;
}
