@import "https://unpkg.com/open-props";

:root {
  /* colors */
  --clr-primary: 0 100% 68%;
  --clr-dark: 0 0% 0%;
  --clr-light: 100 100% 100%;

  /* font-families */
  --ff-serif: --font-sans;
  --ff-sans-normal: "Roboto", sans-serif;

  --content-spacer: 2rem;

  font-size: 10px;
  scroll-behavior: smooth;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-sans-normal);
}

img {
  max-width: 100%;
  // display: block;
}

section {
  padding-block: 4em;

  h2 {
    font-size: 6.5vw;
    text-align: center;
    text-transform: uppercase;
  }
}

/* ------------------ */
/* UTILITY CLASSES    */
/* ------------------ */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 230rem;
  width: calc(100% - 3.5rem);
  margin-inline: auto;
}

.cursor {
  cursor: pointer;
}
