:root {
  /* colors */
  --clr-primary: 0 100% 68%;
  --clr-secondary: 137 100%, 29%;
  --clr-secondary-accent: 137 77% 52%;
  --clr-dark: 0 0% 0%;
  --clr-light: 100 100% 100%;

  /* Typography */
  --ff-base-font-size: 10px;
  --ff-serif: --font-sans;
  --ff-sans-normal: "Roboto", sans-serif;
  --ff-section-titles: "Nunito", sans-serif;
  --font-size-title: 2.4rem;
  --line-height: 1.7;

  /* content spacers*/
  --content-spacer: 3rem;
  --padding-section: 6rem;

  font-size: var(--ff-base-font-size);
  scroll-behavior: smooth;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-sans-normal);

  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding-block: var(--padding-section);

  .about__title,
  .projects__title,
  .skills__title,
  .contact__title {
    font-size: var(--font-size-title);
    font-family: var(--ff-section-titles);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    display: grid;
    justify-content: center;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: calc(var(--font-size-title) + 0.8vw);
    }

    &::after {
      content: "";
      display: block;
      border-bottom: 2px solid hsl(var(--clr-primary));
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      width: 100%;
      margin-top: 0.5rem;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

/* ------------------ */
/* UTILITY CLASSES    */
/* ------------------ */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 140rem;
  width: calc(100% - 3.5rem);
  margin-inline: auto;
}

.cursor {
  cursor: pointer;
}

.border {
  border: 2px solid tomato;
}

.border-2 {
  border: 2px solid teal;
}

.border-3 {
  border: 2px solid rgb(40, 71, 139);
}
