@import "https://unpkg.com/open-props";

:root {
  /* colors */
  --clr-primary: hsl(9, 100%, 64%);

  /* font-families */
  --ff-serif: --font-sans;
  --ff-sans-normal: "Roboto", sans-serif;
  font-size: 10px;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-sans-normal);
}

section {
  padding-block: 3em;
}

/* ------------------ */
/* UTILITY CLASSES    */
/* ------------------ */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 100rem;
  padding-inline: 2em;
  margin-inline: auto;
}

.cursor {
  cursor: pointer;
}
