.hero__info {
  flex-direction: column;
  align-items: center;
  margin-top: 3.5em;
  --gap: 1.5em;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.hero__avatar-container {
  margin-inline: auto;
  z-index: -1;
}

.hero__avatar {
  width: 25rem;

  @media (min-width: 768px) {
    width: 35rem;
    min-height: 40rem;
  }

  @media (min-width: 1024px) {
    width: 45rem;
    min-height: 50rem;
  }

  @media (min-width: 1440px) {
    max-width: 55rem;
  }
}

.hero__hello {
  font-size: 6vw;
  font-weight: 700;

  margin-block-start: 0.5rem;

  text-transform: uppercase;
  letter-spacing: 0.5rem;

  color: hsl(0, 0%, 49%);
}

.hero__title {
  color: black;
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.3rem;

  margin: 0;
}

.hero__hello,
.hero__title {
  text-align: center;
}

.hero__arrow-container {
  display: grid;
  place-content: center;

  border-radius: 50%;

  background-color: hsl(var(--clr-primary));
  width: 4rem;
  height: 4rem;
  z-index: -1;
}

.hero__scroll {
  font-size: 3rem;
  color: white;
  animation: moveArrow 2.5s infinite forwards;
}

@keyframes moveArrow {
  50% {
    transform: translateY(5px) scale(1.05);
  }
}
