.hero {
  position: relative;
  min-height: 85vh;

  padding-block-end: 12rem;
  margin-block-start: 4em;
  margin-block-end: 2em;

  place-items: center;
}

.hero__info {
  align-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
  }
}

.hero__avatar-container {
  margin-inline: auto;
  z-index: -1;

  flex-direction: column;
  align-items: center;

  grid-column: 1 / span 12;

  @media (min-width: 768px) {
    grid-column: 1 / span 6;
  }
}

.hero__avatar {
  width: 25rem;

  @media (min-width: 768px) {
    width: 35rem;
    min-height: 40rem;
  }

  @media (min-width: 1024px) {
    width: 45rem;
    min-height: 50rem;
  }

  @media (min-width: 1440px) {
    max-width: 55rem;
  }
}

.hero__text {
  grid-column: 1 / span 12;

  @media (min-width: 768px) {
    grid-column: 8 / span 6;
  }
}

.hero__hello {
  font-size: 2rem;
  font-weight: 700;

  margin-block-start: var(--content-spacer);
  line-height: calc(var(--line-height) - 0.2);

  text-transform: capitalize;
  letter-spacing: 0.3rem;

  color: hsl(0, 0%, 49%);

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.hero__title {
  color: black;
  text-transform: capitalize;

  @media (min-width: 768px) {
    font-size: 2.7rem;
  }
}

.hero__hello,
.hero__title,
.hero__description {
  text-align: center;
  max-width: 30ch;
  margin-inline: auto;

  @media (min-width: 768px) {
    text-align: left;
    margin-inline-start: 0;
  }
}

.hero__description {
  line-height: calc(var(--line-height) - 0.1);
  font-size: 1.75rem;
  max-width: 50ch;

  margin-block-start: calc(var(--content-spacer));

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.hero__arrow-container {
  display: grid;
  place-content: center;

  background-color: hsl(var(--clr-primary));
  border-radius: 50%;

  width: 5rem;
  height: 5rem;
  z-index: -1;

  position: absolute;
  bottom: 4%;
  left: 50%;

  transform: translate(-50%);

  @media (min-width: 768px) {
    bottom: 3%;
    width: 6rem;
    height: 6rem;
  }
}

.hero__cto {
  grid-column: 1 / span 12;
  margin-block-start: calc(var(--content-spacer) + 1rem);

  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    grid-column: 8 / span 5;
    align-items: start;
  }
}

.hero__scroll {
  font-size: 3rem;
  color: white;
  animation: moveArrow 2.5s infinite forwards;
  text-align: center;
}

@keyframes moveArrow {
  50% {
    transform: translateY(5px) scale(1.05);
  }
}
