.hero {
  width: 100%;
}

.hero__hello {
  font-size: 7vw;
  font-weight: 900;

  margin-block-start: 1.5em;

  text-transform: uppercase;
  letter-spacing: 0.5rem;

  color: hsl(0, 0%, 49%);
}

.hero__title {
  color: black;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.3rem;
}

.hero__info {
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  --gap: 1.5em;
}

.hero__avatar-container {
  margin-inline: auto;
  z-index: -1;
}

.hero__hello,
.hero__title {
  text-align: center;
}

.hero__arrow-container {
  display: grid;
  place-content: center;

  border-radius: 50%;

  background-color: hsl(var(--clr-primary));
  width: 4rem;
  height: 4rem;
  z-index: -1;
}

.hero__scroll {
  font-size: 3rem;
  color: white;
  animation: moveArrow 2.5s infinite forwards;
}

@keyframes moveArrow {
  50% {
    transform: translateY(5px) scale(1.05);
  }
}
